
.banner{
    height:400px;
    background-image:url('../assets/banner2.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem;

    h1{
        color:#fff;
        font-size: 4rem;
        font-weight: bold;
       
    }
    h3{
        color:rgb(149, 149, 149);
    }
}