.header{
    height: 9vh;
    width: auto;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darkgrey;
  

        .title{
            font-size:2rem;
            color:rgb(228, 194, 44);    
        }
    
}